@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Keyframes */
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Body styles */
body, html {
    animation: appear 0.5s;
    background-color: white;
    color: black;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation styles */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.910), rgba(255, 255, 255, 0.910)), url("./LDAssets/typo\ bg.png");
    background-color: white;
    height: 100%;
    background-size: 100%;
    position: relative;
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.topnav a {
    float: left;
    margin-left: 5px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.topnav a:hover {
    text-shadow: 0px 0px 5px white;
    transition-timing-function: ease-in-out;
}

.ld-icon {
    width: 70%;
    margin: 0px;
}

.nav-h-layout {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
}

.nav-icon {
    text-decoration: none;
    margin: auto 14.5px auto 10px;
}

.nav-line {
    margin-top: -2px;
    height: 76px;
    border-left: 2.5px solid rgba(166, 166, 166, 0.5);
}

.fa-arrow-right-from-bracket:hover {
    color: rgb(255, 117, 117);
    transition-duration: 0.3s;
}

.container {
    width: 1850px;
}

.container h2 {
    margin-left: 20px;
    margin-bottom: 20px;
}

table {
    border-top: 2.5px solid rgba(166, 166, 166, 0.5);
    border-bottom: 2.5px solid rgba(166, 166, 166, 0.5);
    background-color: rgba(233, 233, 233, 0.288);
    text-align: center;
}

th {
    text-align: center;
}

td {
    border-top: 2.5px solid rgba(166, 166, 166, 0.5);
    border-bottom: 2.5px solid rgba(166, 166, 166, 0.5);
}

.order-headers {
    font-size: 16px;
    font-style: italic;
}

.orders {
    font-size: 16px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.confirm-btn {
    display: block;
    margin-bottom: 2.5px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background: #43c74a;
    cursor: pointer;
    color: black;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    transition-duration: .4s;
}

.confirm-btn:hover {
    border-radius: 0px;
    transition-duration: .4s;
}

.deny-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5px;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background: #fc4747;
    cursor: pointer;
    border: 0;
    color: black;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    transition-duration: .4s;
}

.deny-btn:hover {
    border-radius: 0px;
    transition-duration: .4s;
}

.confirmed {
    opacity: 0.5; /* Adjust the opacity level as needed */
}
