@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body,
html {
    animation: appear 0.5s;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.910), rgba(255, 255, 255, 0.910)), url("./LDAssets/typo\ bg.png");
    background-color: white;
    height: 100%;
    background-size: 100%;
    position: relative;
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.topnav a {
    float: left;
    margin-left: 5px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.topnav a:hover {
    text-shadow: 0px 0px 5px white;
    transition-timing-function: ease-in-out;
}

.ld-icon {
    width: 70%;
    margin: 0px;
}

.nav-h-layout {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
}

.nav-icon {
    text-decoration: none;
    margin: auto 14.5px auto 10px;
}

.nav-search {
    margin-top: 23px;
    margin-right: 35.5px;
    padding-left: 25px;
    text-decoration: none;
    height: 50px;
}

.nav-line {
    margin-top: -2px;
    height: 76px;
    border-left: 2.5px solid rgba(166, 166, 166, 0.5);
}

.fa-arrow-right-from-bracket:hover {
    color: rgb(255, 117, 117);
    transition-duration: 0.3s;
}

.fa-star:hover {
    color: rgb(253, 233, 146);
    transition-duration: 0.3s;
}

.fa-cart-shopping:hover {
    color: rgb(91, 255, 118);
    transition-duration: 0.3s;
}

.fa-circle-info:hover {
    color: rgb(96, 178, 255);
    transition-duration: 0.3s;
}

.section-2 {
    height: 100px;
    background-color: #000;
}

.grid {
    margin-top: 30px;

}

.container {
    display: block;
    margin: auto;
    width: 1500px;
}

.row-item {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid rgba(136, 136, 136, 0.5);
    border-bottom: 2px solid rgba(136, 136, 136, 0.5);
    background-color: rgba(233, 233, 233, 0.288);
    width: 100%;
}

.col-md-4 {
    display: block;
    width: 300px;
}

.row-details {
    display: grid;
    column-gap: 65px;
    grid-template-columns: auto auto auto auto auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.cart-item {
    margin-bottom: 20px;
    display: flex;
}

.cart-item-image {
    width: 100%;
}

.cart-item-details {
    font-size: 20px;
}

.cart-item-name {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 700;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    overflow-wrap: anywhere;
}

.cart-item-size {
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.size {
    display: block;
    text-align: center;
    font-weight: 700;
}

.cart-item-quantity {
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.qty {
    display: block;
    text-align: center;
    font-weight: 700;
}

.cart-item-price {
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.cart-item-total-price {
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-style: italic;
}

.total-item-price {
    display: block;
    text-align: center;
    font-weight: 700;
}

.edit-btn {
    display: block;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    background: #5271FF;
    border: 0;
    color: black;
    outline: none;
    transition-duration: .4s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.edit-btn:hover {
    background: #31449b;
    border-radius: 10px;
    transition-duration: .4s;
}

.cart-total-price {
    font-size: 25px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 480px;
    text-transform: uppercase;
}

.submit-btn {
    width: 250px;
    height: 60px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    background: #5271FF;
    border: 0;
    color: black;
    outline: none;
    transition-duration: .4s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.submit-btn:hover {
    background: #31449b;
    border-radius: 10px;
    transition-duration: .4s;
}

.modal-dialog {
    top: 200px;
    bottom: 0;
    z-index: 10040;
}

.modal-content {
    border-top: 2px solid rgba(136, 136, 136, 0.5);
    border-bottom: 2px solid rgba(136, 136, 136, 0.5);
    border-radius: 0px;
    background-color: rgba(233, 233, 233, 0.966);
    box-shadow: none;
}

.close:hover {
    color: #ff0000;
    transition-duration: .2s;
}

.buttons {
    text-align: center;
}

.save-changes-btn {
    margin-right: 5px;
    width: 145px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background: #43c74a;
    cursor: pointer;
    color: black;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    transition-duration: .4s;
}

.save-changes-btn:hover {
    border-radius: 0px;
    transition-duration: .4s;
}

.remove-btn {
    margin-left: 5px;
    width: 145px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background: #fc4747;
    cursor: pointer;
    border: 0;
    color: black;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    transition-duration: .4s;
}

.remove-btn:hover {
    border-radius: 0px;
    transition-duration: .4s;
}

.remove-form {
    display: inline-block;
}