@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

body {
	animation: appear 0.5s;
	background-color: white;
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.bg {
	background-image: linear-gradient(rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.137)), url("./LDAssets/homepage\ bg.png");
	background-color: white;
	height: 100%;
	background-size: 100%;
	position: relative;
}

.topnav {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
	position: sticky;
	top: 0px;
	z-index: 1;
	border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.topnav a {
	float: left;
	margin-left: 5px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.3s;
}

.topnav a:hover {
	text-shadow: 0px 0px 5px white;
	transition-timing-function: ease-in-out;
}

.ld-icon {
	width: 70%;
	margin: 0px;
}

.go-login {
	width: 190px;
	height: 55px;
	padding: 10px 30px;
	margin-right: 105px;
	cursor: pointer;
	background: black;
	border: 0;
	color: white;
	outline: none;
	border-radius: 30px;
	transition-duration: .4s;
	font-family: 'Open Sans', sans-serif;
}

.go-login:hover {
	background: #858585;
	border-radius: 30px;
	transition-duration: .4s;
}

.go-mainpage {
	width: 190px;
	height: 55px;
	padding: 10px 30px;
	margin-left: 105px;
	cursor: pointer;
	background: black;
	border: 0;
	color: white;
	outline: none;
	border-radius: 30px;
	transition-duration: .4s;
	font-family: 'Open Sans', sans-serif;
}

.go-mainpage:hover {
	background: #858585;
	border-radius: 30px;
	transition-duration: .4s;
}

.intro {
	margin-top: 11%;
	margin-bottom: auto;
	margin-left: 10%;
	font-family: 'Open Sans', sans-serif;
}

.intro h1{
	margin-bottom: 15px;
	font-size: 50px;
	font-weight: 700;
}

.intro h2{
	margin-bottom: -15px;
	font-size: 20px;
}

.intro h3{
	display: inline;
	margin-left: 5.5%;
	margin-right: 6%;
	font-size: 20px;
	font-weight: 700;
}